body {
    background-image: url(../img/appfon.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    background-color:rgba(255,255,255,0.7);
    border-radius: 8px;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.mt-2 {
    margin-top:20px;
}
.mb-2 {
    margin-bottom:20px;
}
.mt-6 {
    margin-top:60px;
}
.mb-6 {
    margin-bottom:60px;
}

.bm-t-6 {
    margin-top: 60px;
    margin-bottom: 60px;
}

a:hover {
    text-decoration: none !important;
}